.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s;
  }
  &__nav {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 1;
    transform: translateX(-120%);
    transition: all 0.8s;
  }
  &__list {
    @include center-position;
    text-align: center;
    list-style: none;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      color: $color-white;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    transform: translateX(0);
  }
}
