.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 2;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      z-index: 4;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      transform: scale(1.05) translateY(-0.5rem);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
