.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem 9rem;
  font-size: $defult-font-size;
  transform: skewX(-15deg);

  &__shape {
    height: 15rem;
    width: 15rem;
    background-color: aqua;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(15deg);
  }

  &__image {
    height: 100%;
  }

  &__text {
    transform: skewX(15deg);
  }
}
